# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\《Python编程》源代码文件\chapter_14\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
